//@font-face
//  font-family: 'Arial_Regular'
//  src: url('../fonts/Arial-BoldMT.eot')
//  src: url('../fonts/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Arial-BoldMT.woff') format('woff'),
//  url('../fonts/Arial-BoldMT.ttf') format('truetype')
//  font-weight: 400
//  font-style: normal

@font-face
  font-family: 'Fira Sans Light'
  src: url('../fonts/FiraSansLight.eot')
  src: url('../fonts/FiraSansLight.eot?#iefix') format('embedded-opentype'), url('../fonts/FiraSansLight.woff') format('woff'), url('../fonts/FiraSansLight.ttf') format('truetype')
  font-weight: 700
  font-style: normal

html
  font-size: 100%
  @media (max-width: 576px)
    font-size: 70%

h1
  font-size: 24px
  text-transform: uppercase
  margin: 0
  @media (max-width: 576px)
    font-size: 20px
    text-align: center
    justify-content: center

@mixin arial_bold
  font-family: Arial
  font-weight: 700

@mixin firaSansLight
  font-family: Fira Sans Light
  font-weight: 100
